.container3 {
  height: auto;
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid orange;
}

.heading3 {
  text-shadow: 2px 3px orange;
  color: rgb(13, 31, 59);
}

.content3 {
  width: 90%;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 4rem 2rem;
}

.card-body {
  margin-left: 1em;
}

.anim {
  height: 45vh;
  width: auto;
  margin: 0.8em;
  transition: all 0.4s ease-out;
}

.container3 p {
  width: 20rem;
}

.card {
  width: 40vw;
  background: #e0eef4;
}

.card-font3 {
  font-weight: bolder;
  color: rgb(13, 31, 59);
}

.box3 p {
  color: green;
  width: 80%;
  text-align: justify;
  font-weight: 700;
  font-size: 1.15em;
}

.box3 span {
  color: rgb(88, 7, 88);
  font-weight: 700;
}

.anim:hover {
  transform:scale(1.15);
}

.fashion {
  margin-top: 1.7em;
}

.button3 {
  border: 1px solid rgb(13, 31, 59);
  font-size: 1.15em;
  font-weight: 600;
  color: orange;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 4px;
  text-decoration: none;
  background: rgb(13, 31, 59);
}

.button3:hover {
  color: rgb(170, 189, 241);
  box-shadow: 2px 2px rgb(170, 189, 241), -2px -2px rgb(130, 150, 205);
}

@media only screen and (max-width:800px) {

  .content3 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 90vw;
    background: #e0eef4;
  }

  .anim:hover {
    transform: scale(0);
  }

  .button3 {
    font-size: 1em;
    text-align: center;
    font-weight: 100;
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 250px) {

  .card-body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}