.block {
  background-color: orange;
}

.navi {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.intro-div {
  width: 100%;
  height: 90vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: white;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  z-index: 1;
}

.intro {
  color: rgb(13, 31, 59);
  overflow: hidden;
  font-size: 3.5em;
  font-weight: bolder;
  white-space: nowrap;
  margin: 0 auto;
  text-shadow: 4px 3px 1.5px rgb(105, 146, 213);
  letter-spacing: 0.05em;
  animation:
    typing 3.0s steps(40, end),
    color 3.0s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes color {
  0% {
    color: rgb(57, 126, 59);
  }

  20% {
    color: rgb(130, 44, 133);
  }

  40% {
    color: rgb(207, 152, 34);
  }

  60% {
    color: red;
  }

  80% {
    color: rgb(55, 37, 176);
  }

  100% {
    color: rgb(6, 6, 32);
  }
}

@media only screen and (max-width:1180px) {
  .intro-div {
    clip-path: none;
  }

  .intro {
    font-size: 2.5em;
  }
}

@media only screen and (max-width:600px) {
  .intro-div {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .intro {
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 0;
    animation:
      typing 3.0s steps(40, end),
      color 3.0s steps(30, end);
  }

}

@media only screen and (max-width:500px) {
  h1 {
    font-size: 1.2em;
  }
}