.navbar {
    position: relative;
    width: 100%;
    background-color: rgb(13, 31, 59);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav {
    font-size: 1.5em;
    width: 180px;
    padding: 0px 15px;
    margin: 2px 10px;
    color: rgb(136, 172, 185);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.nav:hover {
    color: orange;
    letter-spacing: 3px;
}

@media only screen and (max-width:700px) {

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .nav {
        padding: 0 1vw;
        width: 24vw;
        color: orange;
        font-weight: bold;
        font-size: 1em;
    }

    .nav:hover {
        font-weight: bold;
    }
}

@media only screen and (max-width:345px) {

    .navbar {
        height: auto;
        display: flex ;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    
    .nav {
        font-size: 1.2rem;
        border-bottom: 1px solid rgba(136, 172, 185, 0.618);
        width:100%;
        margin: 2px 1px;
        font-weight: 300;
    }
}