.container4 {
  height: 48vh;
  width: 100%;
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0.4rem;
  background: white;
  border: 2px solid white;
}

.container4 h2 {
  color: rgb(13, 31, 59);
  width: 69vw;
  margin-bottom: 2.8rem;
  margin-top: 1em;
  text-align: center;
  text-shadow: 3px 3px rgb(105, 146, 213);
}

.container4 p {
  width: 75vw;
  font-size: 1.5em;
  text-align: center;
  color: rgb(88, 7, 88);
}

@media only screen and (max-width:1000px) {
  .container4 {
    height: 48vh;
    width: 100%;
    padding: 2.5rem 0.3rem;
    margin: 0em 0em;
  }

  .container4 p {
    width: 85vw;
    font-size: 1.1em;
  }

  .container4 h2 {
    margin-bottom: 0.8rem;
  }
}