.container4 {
  max-height: 45vh;
  width: 90%;
  padding: 1.5rem 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0.5em;
}

.container4 h2 {
  color: rgb(13, 31, 59);
  width: 80vw;
  margin-bottom: 1.5rem;
  margin-top: 3em;
  text-align: center;
  text-shadow: 3px 3px rgb(105, 146, 213);
}

.container4 .para {
  width: 70vw;
  font-size: 1.8rem;
  text-align: center;
  color: rgb(88, 7, 88);
  margin: 0;
  font-weight: bold;
}

@media only screen and (max-width:800px) {

  .container4 {
    height: auto;
  }

  .container4 .para {
    width: 90vw;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width:300px) {
  .container4 .para {
    font-size: 1rem;
  }
}