.social-links {
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.gmail {
  display: inline-block;
  background-image: url("../../assets/logo/gm.png");
  background-size: cover;
  padding: 0;
  margin: 0;
  width: 34px;
  height: 25px;
  text-align: center;
}

.gimage {
  background-color: var(--blue);
  border: none;
}

.limage {
  display: inline-block;
  background-image: url("../../assets/logo/lin.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  text-align: center;
  margin-left: 12px;
}

.gitimage {
  padding: 3px 1px;
  display: inline-block;
  background-image: url("../../assets/logo/giti.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  text-align: center;
}

.upArrow {
  display: inline-block;
  background-image: url("../../assets/logo/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  text-decoration: none;
  text-align: center;
  line-height: 200px;
  margin: 5vh 0;
}

.upArrow:hover {
  transform: translateY(3px);
}

.text {
  font-size: 1.05rem;
  padding-top: 2vh;
}

footer a {
  color: #f45c7d00;
}

footer p a {
  text-decoration: none;
  color: white;
}

p a:hover,
active {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.657);
}

@media only screen and (max-width: 700px) {
  .link-container {
    width: 60vw;
  }
  .social-links {
    width: 60vw;
  }
}
