.footer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container5 {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.social-links {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.gmail {
  display: inline-block;
  background-image: url("../../assets/gm.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 180px;
}

.gimage {
  border: none;
}

.fit {
  color: rgba(183, 193, 225, 0);
}

.limage {
  display: inline-block;
  background-image: url("../../assets/lin.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  color: #ffffff00;
  text-decoration: none;
  text-align: center;
  line-height: 200px;
  margin-left: 12px;
}

.gitimage {
  padding: 3px 1px;
  display: inline-block;
  background-image: url("../../assets/git.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  color: #ffffff00;
  text-decoration: none;
  text-align: center;
  line-height: 200px;
}

.upArrow {
  display: inline-block;
  background-image: url("../../assets/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 200px;
  margin-top: 10px;
}

.upArrow:hover {
  transform: translateY(3px);
}

.link:hover {
  transform: translateY(-3px);
}

.copy {
  width: 100%;
  height: 10vh;
  font-weight: lighter;
  background-color: #57555c;
  color: #f45c7d;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.05rem;
  padding-top: 2vh;
}

footer a {
  color: #f45c7d00;
}

footer p a {
  text-decoration: none;
  color: #f45c7d;
}

p a:hover,
active {
  color: #f1496df1;
}

@media only screen and (max-width: 300px) {
  .social-links {
    width: 70vw;
    padding: 5px 10px;
    margin-top: 0rem;
    margin-bottom: 0;
  }

  .gmail {
    width: 2.55em;
    height: 2.1em;
  }

  .limage {
    width: 2.55em;
    height: 2.55em;
  }
  .gitimage {
    padding: 3px 1px;
    width: 3.2em;
    height: 3.2em;
  }
}
