@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  padding: 0;
  margin: 0;
  word-spacing: 0.5px;
  scroll-behavior: smooth;
}

body {
  background: #b0a295;
  /* background: linear-gradient(to bottom, rgba(154, 187, 240, 0.97), rgb(242, 208, 145), rgba(154, 187, 240, 0.97), rgb(242, 208, 145), rgba(154, 187, 240, 0.97)); */
  font-family: 'Lora', serif;
}


@media screen and (max-width: 800px) and (min-width: 0px) {
  h1 {
    font-size: calc(1rem-0.01vw) !important;
    font-weight: bold;
  }

  h2 {
    font-size: 2.5em !important;
  }

  h3 {
    font-size: 2.5em !important;
  }
}