
*{
  padding: 0;
  margin: 0;
  font-weight: bold;
  word-spacing: 0.5px;
}

@media only screen and (max-width:800px) {
  h1{
    font-size: 1.5em !important;
    font-weight: bold;
  }
  h2{
    font-size: 2.5em !important;
  }
  h3{
    font-size: 2.5em !important;
  } 
}
