* {
  padding: 0;
  margin: 0;
  word-spacing: 1.3px;
  scroll-behavior: smooth;
  --blue: #363859;
  --darkBlue: #313242;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--blue);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
}
